/* COLORS */
$black: hsla(266, 11%, 8%, 1);
$gray: hsla(228, 2%, 51%, 1);
$gray-light: hsla(0, 0%, 97%, 1);
$red: hsla(0, 100%, 69%, 1);
$violet: hsla(266, 57%, 34%, 1);
$white: hsla(0, 0%, 100%, 1);
$black-shadow: hsla(0, 0%, 0%, 0.08);
$gray-shadow: hsla(0, 0%, 51%, 0.15);
$black-background: hsla(266, 11%, 8%, 0.5);

/* TEXT SIZE */
$textXS: 10px;
$textS: 14px;
$textM: 16px;
$textL: 20px;
$textXL: 32px;
$textXXL: 36px;
$textXXXL: 64px;

/* OTHER */
$opacity: opacity 0.5s;
